.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

h1 {
  color: #61dafb;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.restart-button {
  margin-top: 20px;
  visibility: hidden; /* Isso torna o botão invisível, mas ainda ocupa espaço no layout */
}

