.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.title {
  color: #61dafb;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.restart-button {
  margin-top: 20px;
  visibility: hidden;
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
  border-radius: 12px;
}

.restart-button:hover {
  background-color: white;
  color: #61dafb;
}

.restart-button.visible {
  visibility: visible;
}

.visible {
  visibility: visible;
}
